@import './../../../library.scss';

:host {

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0 2rem 0 2rem;

    li {
      flex: 0 0 auto;
      margin: 1rem 0;
    }
  }
}
