<nav>
  <ul>
    <li>
      <div>
        <a routerLink="categories">
          <fa-icon [icon]="['fas','running']" class="icon fa-3x"></fa-icon>
          <span class="label">Challenges</span>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a routerLink="categories">
          <fa-icon [icon]="['fas','trophy']" class="icon fa-3x"></fa-icon>
          <span class="label">Auszeichnungen</span>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a routerLink="categories">
          <fa-icon [icon]="['fas','users']" class="icon fa-3x"></fa-icon>
          <span class="label">Freunde</span>
        </a>
      </div>
    </li>
  </ul>
</nav>
