<nav>
  <ul>
    <li>
      <a routerLink="categories">
        <fa-icon [icon]="['fas','running']" class="icon fa-2x"></fa-icon>
        <span class="label">Challenges</span>
      </a>
    </li>
    <li>
      <a routerLink="categories">
        <fa-icon [icon]="['fas','trophy']" class="icon fa-2x"></fa-icon>
        <span class="label">Auszeichnungen</span>
      </a>
    </li>
    <li>
      <a routerLink="categories">
        <fa-icon [icon]="['fas','users']" class="icon fa-2x"></fa-icon>
        <span class="label">Freunde</span>
      </a>
    </li>
  </ul>
</nav>
