@import './../../../library.scss';

.challenge {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  display: block;

  border: 0.2rem solid $secondary-color-darker;
  border-radius: $button-radius;

  color: $text-color;
  background-color: $secondary-color;

  text-decoration: none;
  width: 66%;
  padding-bottom: 1rem;

  .icon {
    display: inline-block;
    color: $icon-color;
    padding: 2rem;
    width: 5rem;
  }

  .label {
    margin-left: 2rem;
    font-size: 200%;
    line-height: 1rem;
  }

  .info {
    margin-bottom: 2rem;
  }
}

.option {
  display: block;
  cursor: pointer;
}
