@import './../../../library.scss';

.challenge {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;

  border: none;
  border-radius: $button-radius;
  background-color: $active-color;

  text-decoration: none;  
  width: 90%;
  vertical-align: middle;
}

.option {
  display: block;
  cursor: pointer;
}
