$base-canvas-color: #f0f0f0;
$overlay-canvas-color: #e0e0e0;

$main-color-lighter: #15a2c6;
$main-color: #1289A7;
$main-color-darker: #0f7088;

$secondary-color-lighter: #afd253;
$secondary-color: #A3CB38;
$secondary-color-darker: #8fb22f;

$text-color: #273134;
$icon-color: #273134;

$button-radius: 0.4rem;
